<form action='/set_name' method='post'>
  <fieldset>
    <legend>Welcome to Blackjack!</legend>
    <label>Please enter your name:</label>
    <input type="text" placeholder="Your name" name='player_name'>
    <br/>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>